<html>

<head>
    <title></title>
</head>

<body>

    <div class="container">

        <div class="jumbotron search-box">


         
 <form id="signin" name="signin" method="post" action="signin">
                <h1 class="text-center">Bookworm</h1>
                <h5 class="text-center">Sign in</h5>


                <div class="form-group grouping-1">
                    <label for="email">Email Address</label> <br>
                    <input class="email-text text" name="email" type="text" /> <br>

                </div>

                <div class="form-group grouping-2">

                    <label for="password">Password</label> <br>
                    <input name="password" type="password" /> <br>

                </div>
                <div id="signIn">
                <a id="createaAccount" href="/signup/">Create Account</a>
                <input id="signIn" class="btn sign-in-submit btn-primary" type="submit"/> <br>
</div>

            </form>


        </div>

    </div>


</body>

</html>