<html>

<head>
    <title></title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <img height="10%" width="10%" src="/assets/img/bookworm.jpeg">
                    <li class="nav-item active">
                        <a class="nav-link" href="/search">Search<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mybooks">My Books</a>
                    </li>
                    <li class="nav-item" id="nav">
                        <a class="nav-link" href="/signin">Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">

        <div class="jumbotron search-box">

            {{!-- <div="center-div"> --}}
                <h1 class="text-center titlePage">Bookworm</h1>
                <img class="center" src="/assets/img/bookworm.jpeg">
            {{!-- </div> --}}
                <br>


                <hr class="my-4">
                <h5 class="text-center">Sign in</h5>
                <br>

                <form id="signin" name="signin" method="post" action="signin">

                    <div class="form-group grouping-1">
                        <label for="email">Email Address</label> <br>
                        <input class="email-text text" name="email" type="text" /> <br>

                    </div>

                    <div class="form-group grouping-2">

                        <label for="password">Password</label> <br>
                        <input id="inputDefault" name="password" type="password" /> <br>

                    </div>
                    <div id="signIn">
                        <a id="createaAccount" href="/signup/">Create Account</a>
                        <input id="inputDefault" id="signIn" class="btn sign-in-submit btn-warning" type="submit" />
                        <br>
                    </div>

                </form>

            
        </div>

    </div>


</body>

</html>