<html>
 
<head>
    <title></title>
</head>
 
<body>

<div class="container">

    <div class="jumbotron search-box">

    <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label> <br>
        <input class="text" name="email" type="text" /> <br>
        <label for="password">Password</label> <br>
        <input name="password" type="password" /> <br>
        <input class="btn" type="submit" value="Sign In" /> <br>
    </form>
 </div>

 </div>


</body>
 
</html>