<html>

<head>
    <title>Register Now!</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron sign-up search-box">
            <h1 class="text-center find-book display-4">Register Your Account</h1>

            <form id="signup" name="signup" method="post" action="/signup">
                <label for="email">Email Address</label>
                <input class="text-center" name="email" type="email" />
                <br>
                <label for="firstname">Firstname</label>
                <input name="firstname" type="text" />
                <br>
                <label for="lastname">Lastname</label>
                <input name="lastname" type="text" />
                <br>
                <label for="password">Password</label>
                <input name="password" type="password" />
                <br>
                <input class="btn" type="submit" value="Sign Up" />
            </form>
        </div>
    </div>
</body>

</html>