
.search_bar {
  width: 70% !important; 
  margin-right: auto; 
  margin-left: auto; 
}

body {
  background-image: url(../assets/img/books.png);
  /* background-repeat: no-repeat;  */
}

.search-box {
  margin-top: 100px; 
  width: 80%; 
  max-width: 500px; 
  padding-right: 10px; 
  padding-left: 10px; 
  margin-right: auto; 
  margin-left: auto; 
  /* border-radius: 25px !important;  */
}

.fav-books {
  height: 500px; 
  border-radius: 25px !important; 
  background: lightgray; 
  border: none !important; 
}

#img-contain {
  height: 250px !important; 
  width: 160px !important; 
  background: black; 
  margin-right: auto; 
  margin-left: auto; 
  margin-top: 40px; 
}

.current-book-img {
  width: 100%; 
  height: 100%; 
}

.currently-reading {
  /* height: 500px; */
  /* border-radius: 25px !important;  */
  /* font-size: 30pt;  */
  background-image: url(/assets/img/brownpaper.jpg); 
  margin-bottom: 10px; 
  /* border: none !important;  */
}

.fav-book-container {
  margin-top: 60px; 
  /* border-radius: 25px !important;  */
}

#fav-books-title {
  margin-right: auto; 
  margin-left: auto; 
  font-size: 30pt; 
}

#currently-reading-title {
  margin-right: auto; 
  margin-left: auto; 
}

#edit-progress {
  font-size: 8pt; 
  cursor: pointer; 
  color: #595959;
}

#send-back-bookshelf {
  font-size: 8pt;
  cursor: pointer;
  color: #595959;
}

#add-note {
  font-size: 16pt; 
}

.card-note-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
  font-size: 10pt;
  color: gray;  
  margin-left: 10px; 
}

.card-note-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;

  font-size: 14pt; 
  margin-top: 5px; 
  margin-left: 10px; 
  margin-bottom: 5px; 
}

.note-card {
  margin-bottom: 5px; 
  margin-right: 10px; 
}

#append-new-note {
  overflow-y: scroll;
  height: 400px; 
}
/* 
.delete-note {
  border-radius: 20px;
  height: 20px; 
  width: 60px; 
  float: right; 
  font-size: 8pt;
  background: orange; 
} */

div.card-header {
  padding-top: 5px !important; 
  padding-bottom: 5px !important; 
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  /* font-family: Raleway, sans-serif; */
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c9af;
}

/* Media Queries  */

@media only screen and (max-width: 990px) {
  
  .fav-books {
    margin-bottom: 50px; 
  }

}

.thumbnail {
  margin-right: 15px;
}

/* .form-rounded {
  border-radius: 1rem;
} */

.wrapper {
  width: 500px;
}

.progress-bar {
  margin-top: 10px; 
  margin-bottom: 10px; 
  margin-right: auto; 
  margin-left: auto; 
  width: 70%;
  height: 15px; 
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
  display: block;
  height: 22px;
  background-color: #659cef;
  border-radius: 3px;
  
  transition: width 500ms ease-in-out;
}

.page-progress {
  font-size: 12pt; 
  color: darkgray; 
  margin-bottom: 5px; 
}

.textWrap {
  width: 60%;
}

.card {
  background-image: url("/assets/img/brownpager.jpg");
}

.grouping-1 {
  /* margin-top: 30px;  */
  margin-right: auto; 
  margin-left: auto; 
  max-width: 180px; 
}

.grouping-2 {
  margin-right: auto; 
  margin-left: auto; 
  max-width: 180px; 
  margin-bottom: 20px;
}

.sign-in-submit {
  display: block; 
  display: inline-block;
  margin-left: 10%;
}
#modalImage {
  float: left;
  margin-right: 15px;
}

#modalText {
  float: left;
}

body {
  /* font-family: 'Gupter', serif; */

}

.modalBtn {
  margin: 25px 0px 0px 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* font-family: calibri; */
}

.favBtn {
  margin: 25px 0 0 0;
  padding-top: 0px;
  padding-bottom: 0px;
  /* font-family: calibri; */
}

.book-cover-div {
  margin-bottom: 10px; 
  margin-right: auto; 
  margin-left: auto; 
  display: block; 
}

#allBooks {
  overflow-y: scroll;
  height: 400px; 
  padding-top: 10px;
    /* padding-bottom: 10px; */
    width: 90%;
    border-radius: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}
#createAccount {
  display:inline-block;
  margin-left: 30%;
} 

#signIn {
  margin-top: 20px;
  margin-left: 22%;
  margin-right: auto;
}

#already {
  margin-left: 25%;
}

.jumbotron {
  background-color: white;
}

#nav {
  float: right;
}

/* .titlePage {
  float: left;
}

.logo-img {
  float: left;
} */

/* #logo1 {
  margin-bottom: 20px;
  height: 20%;
} */

.center-div
{
     margin: 0 auto;
     
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}